/* html, body { */
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
} */

/* .nav-bar {
    display: flex;
    justify-content: space-between;
} */

/* .gif-results {
    flex-wrap: wrap;
} */